<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library books page</title>
    <meta name="keywords" lang="ru" content="">
    <meta name="description" content="">
    <meta name="robots" content="all">
    <link rel="icon" type="image/png" href="/img/logo_tab.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700,800,900&display=swap&subset=cyrillic-ext"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/src/with.js">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://kit.fontawesome.com/c98d165499.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/bookp.css">
</head>
<body>
<header class="header">
    <div class="header-content">
        <div class="logo">
            <a href="/">
                <img class="logo__img" src="/img/logo_rmat_2.png" alt="" width="100">
            </a>
        </div>

        <nav class="nav">
            <ul class="nav-list">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="/#aboutus">About us</a></li>
                <li><a class="nav-link" href="/#work">How it work?</a></li>
                <a href="/login">
                    <button type="button" class="btn btn-warning">Sign up</button>
                </a>
            </ul>


            <div class="container container-menu">
                <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
                    <div class="container container-menu">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars menuo"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="ftco-nav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                                <li class="nav-item"><a href="#aboutus" class="nav-link">About us</a></li>
                                <li class="nav-item"><a href="#work" class="nav-link">How it works?</a></li>
                                <button type="button" class="/login">Sign up</button>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

        </nav>

    </div>


</header>


<div class="container">

    <div class="table">
        <div class="table-header">
            <div class="header__item"><a id="id" class="filter__link" href="#">ID</a></div>
            <div class="header__item"><a id="name" class="filter__link filter__link--number" href="#">Name</a></div>
            <div class="header__item"><a id="author" class="filter__link filter__link--number" href="#">Author</a></div>
            <div class="header__item"><a id="year" class="filter__link filter__link--number" href="#">Published</a>
            </div>

            <div class="header__item"><a id="available" class="filter__link filter__link--number" href="#">Available</a>
            </div>
        </div>
        <div class="table-content">
            <div class="table-row" th:each="book : ${book}">
                <div class="table-data" th:text="${book.getName()()}">info</div>
                <div class="table-data" th:text="${book.getAuthor()}">info</div>
                <div class="table-data" th:text="${book.getYear()}">info</div>
                <div class="table-data" th:text="${book.isAvailable()}">info</div>
            </div>

        </div>
    </div>
</div>

<footer class=" text-white text-center text-lg-start" style="background-color: #4843ff;">
    <div class="container p-4" style="background-color: #4843ff;">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">

                <img class="logo_img" src="/img/logo_rmat_2.png" alt="" width="100">

                <p>
                    if you have any questions or suggestions, you can contact us via messengers or by writing to us by
                    mail
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase footertext">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/#" class="text-white">Home</a>
                    </li>
                    <li>
                        <a href="/#aboutus" class="text-white">About us</a>
                    </li>
                    <li>
                        <a href="/#work" class="text-white">How it work?</a>
                    </li>
                    <li>
                        <a href="/registration" class="text-white">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0 footertext">Contact</h5>
                <p>
                    <i class="city"><i class="fas fa-home"></i></i> Astana
                </p>
                <p>
                    <i class="email"><i class="fas fa-envelope-open-text"></i></i> libms@gmail.com
                </p>
                <p>
                    <a class="phone" href="tel:+77085176491"><i class="fas fa-phone"></i> +7 (708)517-64-91</a>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2023 : Over99</div>
</footer>

</body>
<script src="/src/bp.js"></script>
</html>