<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width=1170px">
    <title>Library MS</title>
    <meta name="keywords" lang="ru" content="">
    <meta name="description" content="">
    <meta name="robots" content="all">
    <link rel="icon" type="image/png" href="/img/logo_tab.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700,800,900&display=swap&subset=cyrillic-ext"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/src/with.js">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://kit.fontawesome.com/c98d165499.js" crossorigin="anonymous"></script>
</head>

<body>

<header class="header">
    <div class="header-content">
        <div class="logo">
            <a href="/">
                <img class="logo__img" src="/img/logo_rmat_2.png" alt="" width="100">
            </a>
        </div>

        <nav class="nav">
            <ul class="nav-list">
                <li><a class="nav-link" href="#start">Home</a></li>
                <li><a class="nav-link" href="#work">How it work?</a></li>
                <li><a class="nav-link" href="#process">Get Access</a></li>
                <li>
                    <a class="nav-link p-0" href="/login">
                        <button type="button" class="btn btn-light">Sign up</button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<section class="content" id="start">
</section>

<section id="work" class="work-process py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section__title text-center mb-75">
                    <h2 class="wow fadeInUp">How It Work?</h2>
                    <p class="wow fadeInUp2 h4">The basis of the platform's performance is your personal
                        page where you can monitor all your data about libraries</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single__process text-center mb-30 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single__process-icon mb-40">
                        <img src="/img/Icons/user.png" alt="" height="100" width="100">
                        <i class="fas fa-check" style="background-color: #0060D0;"></i>
                    </div>
                    <div class="single__process-content">
                        <div class="number">01</div>
                        <h2 class="mundial pt-5">Signup For Create Account</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single__process text-center mb-30 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single__process-icon mb-40">
                        <img src="/img/Icons/editing.png" alt="" height="100" width="100">
                        <i class="fas fa-check" style="background-color: #0060D0;"></i>
                    </div>
                    <div class="single__process-content">
                        <div class="number">02</div>
                        <h2 class="mundial pt-5">Personal Information Monitoring</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single__process text-center mb-30 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single__process-icon mb-40">
                        <img src="/img/Icons/analysis.png" alt="" height="100" width="100">
                        <i class="fas fa-check" style="background-color: #0060D0;"></i>
                    </div>
                    <div class="single__process-content">
                        <div class="number">03</div>
                        <h2 class="mundial pt-5">Library Affairs Managing</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="process" class="access-info access-sm py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section__title access-title">
                    <h2 class="biggest">Get Access To All The Information You Need</h2>

                    <div class="access-btn">
                        <a href="/registration">
                            <button class="button-34" role="button">GET ACCESS</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="access__info-wrap mb-55">
                            <div class="info-icon mb-35">
                                <img src="/img/Icons/info_01.png" alt="">
                            </div>
                            <div class="content1">
                                <h5>View book deadline</h5>
                                <p>instead of guessing or going to the library, just look at it in your personal
                                    account</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="access__info-wrap mb-55">
                            <div class="info-icon mb-35">
                                <img src="/img/Icons/info_01.png" alt="">
                            </div>
                            <div class="content1">
                                <h5 id="idid">Pay the fine for the loss of the book</h5>
                                <p>you can also pay a fine for the loss of a book directly in the same platform
                                    online</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="access__info-wrap mb-55">
                            <div class="info-icon mb-35">
                                <img src="/img/Icons/info_01.png" alt="">
                            </div>
                            <div class="content1">
                                <h5>See your history</h5>
                                <p>view all your early book purchases in libraries</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="access__info-wrap mb-55">
                            <div class="info-icon mb-35">
                                <img src="/img/Icons/info_01.png" alt="">
                            </div>
                            <div class="content1">
                                <h5>Extend book rental</h5>
                                <p>why go to the library to renew a book when you can do it online</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form" id="login">
                <h1 class="form__title">Login</h1>
                <div class="form__message form__message--error"></div>
                <div class="form__input-group">
                    <input type="text" class="form__input" autofocus placeholder="Username or email">
                    <div class="form__input-error-message"></div>
                </div>
                <div class="form__input-group">
                    <input type="password" class="form__input" autofocus placeholder="Password">
                    <div class="form__input-error-message"></div>
                </div>
                <button class="form__button" type="submit">Continue</button>
                <p class="form__text">
                    <a href="#" class="form__link">Forgot your password?</a>
                </p>
                <p class="form__text">
                    <a class="form__link" href="./" id="linkCreateAccount">Don't have an account? Create account</a>
                </p>
            </form>
            <form class="form form--hidden" id="createAccount">
                <h1 class="form__title">Create Account</h1>
                <div class="form__message form__message--error"></div>
                <div class="form__input-group">
                    <input type="text" id="signupUsername" class="form__input" autofocus placeholder="Username">
                    <div class="form__input-error-message"></div>
                </div>
                <div class="form__input-group">
                    <input type="text" class="form__input" autofocus placeholder="Email Address">
                    <div class="form__input-error-message"></div>
                </div>
                <div class="form__input-group">
                    <input type="password" class="form__input" autofocus placeholder="Password">
                    <div class="form__input-error-message"></div>
                </div>
                <div class="form__input-group">
                    <input type="password" class="form__input" autofocus placeholder="Confirm password">
                    <div class="form__input-error-message"></div>
                </div>
                <button class="form__button" type="submit">Continue</button>
                <p class="form__text">
                    <a class="form__link" href="./" id="linkLogin">Already have an account? Sign in</a>
                </p>
            </form>
        </div>
    </div>
</div>

<footer class=" text-white text-center text-lg-start" style="background-color: #4843ff;">
    <div class="container p-4" style="background-color: #4843ff;">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">

                <img class="logo_img" src="/img/logo_rmat_2.png" alt="" width="100">

                <p>
                    if you have any questions or suggestions, you can contact us via messengers or by writing to us by
                    mail
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase footertext">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/#" class="text-white">Home</a>
                    </li>
                    <li>
                        <a href="/#aboutus" class="text-white">About us</a>
                    </li>
                    <li>
                        <a href="/#work" class="text-white">How it work?</a>
                    </li>
                    <li>
                        <a href="/registration" class="text-white">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0 footertext">Contact</h5>
                <p>
                    <i class="city"><i class="fas fa-home"></i></i> Astana
                </p>
                <p>
                    <i class="email"><i class="fas fa-envelope-open-text"></i></i> libms@gmail.com
                </p>
                <p>
                    <a class="phone" href="tel:+77085176491"><i class="fas fa-phone"></i> +7 (708)517-64-91</a>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2023 : Over99</div>
</footer>

<script src="/URLToReach/src/with.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>